.root{
    text-align: center;
    padding-bottom: 70px;
    .title_error{
        font-size: 70px;
    }
    .description{
        font-size: 35px;
        margin-bottom: 20px;
    }
    p{
        font-size: 22px;
    }
}